* {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: Alegreya Sans;
  font-size: 25px;
  font-weight: 300;
}

p {
  font-size: 0.9em;
  margin: 0;
}

#calendar, #filters {
  float: left;
  width: 70%;
}

#calendar {
}

#filters {
  background-color: #FAFAFA;
  border-bottom: 1px solid #CFD8DC;
  padding-top: 65px;
}

#map {
  float: right;
  height: 800px;
  margin-top: 50px;
  width: 30%;
}

#navbar {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #CFD8DC;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo, .kala-title, .profile-name, .logout {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding: 0 1em;
}

.logo-image {
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.kala-title {
  border-left: 1px solid #CFD8DC;
  border-radius: 0px;
}

span.kala {
  font-family: Alegreya Sans;
  font-weight: 500;
}


.profile-name {
  border-left: 1px solid #CFD8DC;
  float: right;
}

.profile-picture {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 1em;
}

.logout {
  border-left: 1px solid #CFD8DC;
  float: right;
}

.logout:hover {
  background-color: #FAFAFA;
  border-bottom: 1px solid #CFD8DC;
}

/* calendar stuff */

@media (min-width: 768px) {
.row-7 {
  display: flex; }
  .row-7 .col {
    border: 1px solid blue;
    box-sizing: border-box;
    padding: 0 0.5em;
    width: 14.29%; } 
}

.weekday{
  text-align: center;
}

.google-class {
  background-color: #A3E4D7;
  height: 50px;
  margin: 10px 0;
  padding-left: 7px;
}

.one {
  background-color: #EC407A;
  height: 50px;
}

p.weekday {
background-color: yellow;
}

/* horrible form overriding stuff */
form {
  padding: 1em;
}

.form-btn {
  background-color: #92E1C0;
  margin-left: 0.75em;
  margin-top: 1em;
  padding: 0 1.5rem;
}

.form-btn:hover {
  background-color: #26a69a;
}

#form-btn-text {  
  color: white;
  font-family: Alegreya Sans;
  letter-spacing: 0.25em;
}

label.radio {
  margin-right: 1.5em;
}

/*.event {
  background-color: #5C6BC0;
  padding-left: 7px;
}

.three {
  height: 150px;
}

.four {
  height: 200px;
}

.seven {
  height: 350px;
}

.num-classes {
  background-color: yellow;
  padding-left: 3px;
}

.show-classes {
  text-align: center;
  height: 60px;
  padding: 10px 0;
}

.show-classes a {
  font-size: 10px;
}*/

/*border-radius: 2.5px;*/

