/* Kala Base Type */

* {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 0.9em;
  margin: 0;
}

small {
  font-size: 80%;
}

/* Kala Grid */

#calendar, #filters, #calendar-header {
  float: left;
  width: 70%;
}

#calendar {
}

#filters {
  background-color: #FAFAFA;
  border-bottom: 1px solid #CFD8DC;
  padding-top: 65px;
}

#map {
  height: 93%;
  margin-top: 50px;
  position: fixed;
  right: 0;
  width: 30%;
}


/* Navbar */

#navbar {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #CFD8DC;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo, .kala-title, .profile-name, .logout {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding: 0 1em;
}

.logo-image {
  height: 20px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.kala-title {
  border-left: 1px solid #CFD8DC;
  border-radius: 0px;
}

h5 {
  font-family: Alegreya Sans;
  font-size: 25px;
  font-weight: 300;
}


span.kala {
  font-family: Alegreya Sans;
  font-weight: 500;
}

.profile-name {
  border-left: 1px solid #CFD8DC;
  float: right;
}

.profile-picture {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 50px;
  margin-left: 1em;
}

.logout {
  border-left: 1px solid #CFD8DC;
  float: right;
  padding: 0;
}

.logout a {
  color: black;
  padding: 15px 25px;
}

.logout:hover {
  background-color: #FAFAFA;
  border-bottom: 1px solid #CFD8DC;
}


/* Calendar */

@media (min-width: 768px) {
  .row-7 {
    display: flex; 
  }

  .row-7 .col {
    border-left: 1px solid #CFD8DC;
    box-sizing: border-box;
    width: 14.29%;
    padding: 0.5em;
    text-align: center;
  }
}

.weekday-title {
  font-weight: 500;
  padding-bottom: 0.75em;
  text-align: center;
}

/* Applies to all events */

.event-item {
  border-radius: 2px;
  padding-left: 7px;
  text-align: left;
  overflow: hidden;
}

small.event-time {
  font-weight: 700;
}

/* Applies to filter results only */

.mindbody-event {
  background-color: #92E1C0;
  border-radius: 5px;
  height: 96px;
  margin-bottom: 3px;
  padding-left: 14px;
  padding-top: 7px;
  position: relative;
}

.mindbody-event-link {
  bottom: 2px;
  color: #26A69A;
  font-family: Alegreya Sans;
  font-size: 1.1em;
  position: absolute;
}

.mindbody-event-link:hover {
  text-decoration: underline;
}

h6.num-available {
  color: black;
  font-family: Alegreya Sans;
  font-size: 1.25em;
  margin: auto;
}

p.explore-available {
  color: black;
  font-family: Alegreya Sans; 
}

small.available-time {
  color: black;
}

/* Applies to calendar events */

.google-event {
  background-color: #CFD8DC;
  border-bottom: 1px solid #FAFAFA;
}

.free-time {
  background-color: #92E1C0;
  border-bottom: 1px solid #FAFAFA;
}

.free-time:hover {
  background-color: #26A69A;
  transition: all .3s ease-out;
    h6.num-available {
      color: #FAFAFA;
    }
    p.explore-available {
      color: #FAFAFA;
    }
    small.available-time {
      color: #FAFAFA;
    }
}

p.event-time-modal {
  font-weight: 600;
}

p.yoga-class-name {
  font-size: 1.25em;
}


/* Filters */

form {
  padding: 1em;
}

.form-btn, .form-btn:focus {
  background-color: #92E1C0;
  margin-left: 0.75em;
  margin-top: 1em;
  padding: 0 1.5rem;
}

.form-btn:hover {
  background-color: #26A69A;
}

#form-btn-text {  
  color: white;
  font-family: Alegreya Sans;
  letter-spacing: 0.25em;
}

label.radio {
  margin-right: 1.5em;
}

input#class-name.validate.valid {
  border-bottom: 1px solid #92E1C0;
  box-shadow: 0 1px 0 0 #92E1C0;
}

.range-field {
  min-height: 50px 
}

/* Tooltips and Toast (in Filter) */

.toast {
  background-color: #FFF9C4;
  color: #F39C12;
  font-family: Alegreya Sans;
  font-weight: 500;
  height: 38px;
  letter-spacing: 0.1em;
  line-height: 38px;
  min-height: 38px;
  padding: 0 1.5em;
  text-transform: uppercase;
}

#toast-container {
  top: 12%;
  right: 32%;
}

.backdrop {
  background-color: white;
}

.material-tooltip  {
  border-radius: 28px;
  padding: 12px 18px;
  border: 1px solid #CFD8DC;
}

.material-tooltip span {
  color: black;
  font-family: Alegreya Sans;
  font-size: 1.1em;
}


/* Modal */


/* Applies to card content */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #DF3A30;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #EF9A9A;
}

.card .card-content p.card-time {
  font-size: 1.25em;
  margin-top: 2.25em; 
}

.card .card-content p.studio {
  text-align: left;
}

.card .card-content p.studio span.instructor {
  float: right;
}

.chip {
  background-color: #FFF9C4;
  margin-top: 12px;
}

.chip p.rating {
  color: #F39C12;
  font-weight: 400;
}

.chip-placeholder {
  min-height: 49px;
}

.price {
  color: #5C6BC0;
  padding-right: 1em;
}

.col .modal-col {
  border-left: none;
}

/* Applies to modal */

.modal-close {
  background-color: #D1C4E9;
  margin: 0;
}

.modal-close:hover, .modal-close:focus {
  background-color: #B39DDB;
}

#modal-close-text {
  color: white;
  font-family: Alegreya Sans;
  font-weight: 500;
  letter-spacing: 0.25em;
}

.modal-date {
  color: #9E9E9E;
}

/*That's all folks*/