<div id="landing-page-holder" class="container center-align">
  <%= image_tag("kala_logo.png", id: "kala-logo") %>
  <div class="section">
    <section id="slogan">
      Posing yoga classes around your <span class="kala">Kala</span><span class="nder">nder</span><br>to help you find
      the best fit.
     </section>
  </div>
  <a id="login-button" class="btn waves-effect waves-light" href="/login"><i class="fa fa-google left material-icons" aria-hidden="true"></i>Login with Google</a>
</div>