<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <meta charset="UTF-8">
    <title>Hello React</title>
</head>
<body>
  <div id="react-root"></div>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvDbqxTA2yh_qtdmQapEzRbWFeT4GNA9w&libraries=geometry,places,visualization">
  </script>
  <script src="//localhost:3000/build/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
  $(document).ready(function() {
    $('select').material_select();
  });
  </script>  

</body>
</html>