/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 span.kala {
  font-family: Alegreya Sans; 
  font-size: 1.25em;
  font-weight: 500;
 }

 span.nder {
  font-family: Alegreya Sans; 
  font-size: 1.25em;
  font-weight: 300;
 }

 #login-button {
  background-color: #DF3A30;
  margin-top: 1.25em;
 }

#landing-page-holder {
  padding-top: 15em;
}
  
 #kala-logo {
  height: 13em;
  margin-bottom: 1.25em;
  width: 39em;
 }

 #slogan {
  font-size: 1.3em;
 }
